<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="Healthcare Automation Suite">

    <test name="Healthcare Functional Tests">

        <classes>

            <class name="com.healthcare.tests.LoginTest"/>
            <class name="com.healthcare.tests.InvalidLoginTest"/>
            <class name="com.healthcare.tests.AppointmentTest"/>
            <class name="com.healthcare.tests.LogoutTest"/>

        </classes>

    </test>

</suite>